*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing-page{
    width: 100%;
    min-height: 100vh;
}

    /* Navigation Bar */

.nav-bar{
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e1e1e1;
}
.logo{
    width: 4rem;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.logo img{
    width: 100%;
    height: 90%;
}
.logo p{
    font-size: 2rem;
    font-style: italic;
    /* font-family:  Verdana, Geneva, Tahoma, sans-serif; */
}

.nav-tags{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    font-size: 1.1rem;
}
p a{
    text-decoration: none;
    color: #000000;
}
p a:hover{
    color: #037171;
    border-bottom:3px solid #037171;
    /* background-color: blue; */
}
.search-bar{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 80%;
    
}
.search-bar input{
    outline: none;
    /* border: none; */
    /* background : transparent;  */
    width: 70%;
    height: 80%;
    font-size: 1rem;
    border: 2px solid rgb(165, 163, 163);
    border-radius: 80px;
    padding-left: 12px;
    /* font-size: 2rem; */
    background: #fff;
}
.search-bar button{
    border: none;
    color: #fff;
    font-size: 1.5rem;
    background-color: #037171;
    height: 80%;
    width: 12%;
    border-radius: 50%;
}
.menu-bar{
    width: 50px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #037171;
}